.nav-container {
  float: left;
  padding: 0px;
  width: 20&;
}

body {
  background-color:#D9E0EE;
  font-family: Courier;
}

nav {
  float: left;
  width: 30%;
  height: 100%;
  background: #ccc;
  padding: 20px;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

a {
	color: #458588
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
}
div {
  width: 300px;
  margin: auto;
}

nav ul {
  list-style-type: lower-roman;
  padding: 20;
}

ul {
  list-style-type: lower-roman;
  margin: 0;
  padding: 10;
  width: 15%;
  background-color: #988BA2;
  height: 100%;
  position: fixed;
  overflow: auto;
}

p {
  width: 1000px;
  margin: auto;
}
